@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>
<ul>

    <li>Value read from cache is: </li>

    @ViewData["CacheTime"]
</ul>

<br />

<ul>

    <li>Current value is:</li>

    @ViewData["CurrentTime"]
</ul>